.margins {
  margin: 10px;
}
.button3 {
  background-color: rgb(229, 9, 20);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  width: 230px;
  height: 65px;
}
